table {
  width: 70%;
  vertical-align: bottom;
  margin-left: auto;
  margin-right: auto;
  
}

.bar {
  width: 70%;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  background: #afb4b9;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}




.mat-row:hover {
  background-color: rgba(99, 96, 124, 0.11);
}

.btn2 {
  font-family: 'Ropa Sans', sans-serif;
  position: left;

  display: block;
  margin-right: 20px;
  padding: 0;

  overflow: hidden;

  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  
  background-color: #4d4d52;
  color: #ecf0f1;
}

@media only screen and (max-device-width: 480px) {
  /* define mobile specific styles come here */
table {
  width: 100%;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
}

.bar {
  width: 100%;
}
}